/* Buttons */
$color-style: #283593;
$font-weight: 500;
$font-size: 1.2em;

@mixin input-placeholder($value:none){
    color: #737373;
    font-size: $font-size;
}

@mixin icon-button($value:none){
    background-color: transparent;
    border: 0;
    display: flex;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    color: $value;
    white-space: nowrap;
    border-radius: 3px;
    padding: 2px 7px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari */

    span {
        margin:auto;
        padding-left: 10px;
        font-weight: $font-weight;
    }

    i{
        margin:auto;
    }
    
    &:hover{
        color: #fff;
        background-color:$color-style;
    }
    
    &:focus {
        outline: none;
    }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @include input-placeholder($font-size);
}
::-moz-placeholder { /* Firefox 19+ */
    @include input-placeholder($font-size);
}
:-ms-input-placeholder { /* IE 10+ */
    @include input-placeholder($font-size);
}
:-moz-placeholder { /* Firefox 18- */
    @include input-placeholder($font-size);
}

.icon-b {
    @include icon-button($color-style);
}

.custom-check {
    display: none;

    &:checked + label::after {
        content: "\2713";
        font-size: 20px;
        padding: 3px;
        color: $color-style;
        $font-weight: 500;
    }
    
    + label{
        font-size: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #212121;
        border-radius: 4px;
        cursor: pointer;
    }
}

.log-out-b {
    color:  white;

    span {
    padding: 2px 15px 0 30px;
    }
}

.list-box-nav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding: 20px;

    div {
        margin: auto 0;
    }
    
    a {
        text-transform: uppercase;
        color: $color-style;
        text-decoration: none;
        font-weight: $font-weight;
		
		i {
			position: relative;
			top: 5px;
		}
    }
    
    .list-box-nav-total{
        padding:10px;
    }
    
    .list-box-nav-number {
        
        a{
            padding: 0 40px;
        }
    }
}

.custom-input, {
    border: 0;
    border-bottom: 1px solid #737373;
    width: 220px;
    padding: 6px 0;

    &:focus {
        outline: none;
    }
}    