/* Categories list */


.list-box-content {
	ul {
		li {
			display: flex;
			padding: 15px;
			border-bottom: 1px solid #ffff
		}
	
		div {
			margin: auto 0;
		}
		
		.check-col {
			width: 18%;
		}

		.name-col {
			width: 25%;
		}

		.icon-col {
			width: 35%;
		}
		
	}	
}
	
