/* Basic layout */
@mixin transform($value:none){
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

@mixin box-shadow($value:none){
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

$color-style: #283593;
$font-size: 1.2em;
$menu-rotate: rotate(-180deg);
$box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.30);

#header {
    display: flex;
    background-color: $color-style;
    color: white;
    @include box-shadow($box-shadow);

    .burger {
        width: 65px;
        height: 65px;
        color: white;
        box-sizing: border-box;
        
        &:hover{
            background-color:transparent;
        }
    }
    
    .burger.rotate {
        @include transform($menu-rotate);
    }
    
    h1 {
        width: 100%;
        font-size: 1.5rem;
        padding: 20px 0;
    }

}

#content {
    display: flex;
    padding-top: 25px;
    box-sizing: border-box;

    #left-col {
        width: 240px;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s; /* Safari */
    }
    
    #left-col.hide-menu {
    width: 40px;
    }
    @media only screen and (max-width: 500px) {
        #left-col{
        width: 40px;
        }
    }
    
    
    #right-col {
        width: 100%;
        position:relative;
        background-color: white;
        @include box-shadow($box-shadow);
        margin: 0 10px;
        overflow: hidden;
    }

    .right-col-top {
        padding: 18px;
        display: flex;
            
            h2 {
            width: 100%;
            font-size: 1.5rem;
            }
        
            .icon-b {
            margin-left: 25px;
            }
        
    }
    
}
